body {
  background-color: #0d0d15;
  color: #F5F8FB;
  font-family: "Poppins", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
}


/********** HOMEPAGE STARTS HERE ************/

/* HEADER */

.header {
  width: 1728px;
  height: 112px;
  justify-content: space-between;
  padding: 32px 32px;
}

.main-nav__link {
  text-decoration: none;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.main-nav__link--active {
border-bottom: 2px solid #0265DC;
padding-block: 8px;
padding-inline: 20x;
}

.main-nav__item {
  display: inline-block;
}

.header__button {
  width: 150px;
  height: 48px;
  border: 2px;  
  padding-block: 10px;
  padding-inline: 24px;
  gap: 8px;
}

.header-button__text {
  color: #f5f8fb;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
}

.button--secondary {
  background-color: transparent;
  border: 2px solid; color: #D0D7FB2B; opacity: 17;
}

.button--primary {
  background-color: #0265DC;
  border: none;
}

/* HERO SECTION */

.hero-section--homepage {
  width: 1728px;
  height: 640px;
  padding-inline: 164px;
  padding-block: 64px;
}

.hero-section__block {
  width: 866.5px;
  height: 362px;
  gap: 32px;
}

.hero-section__title {
  font-style: normal;
  font-weight: 400;
  font-size: 52px;
  line-height: 62px;
  letter-spacing: -0.5px;
  margin-bottom: 10px;
  font-family: "Bakbak One", "Georgia", sans-serif;
}

.hero-section__brand {
  color: #0265DC;
}

.hero-section__description {
  color: #F5F8FB;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
}

.hero-section__stats {
  display: inline-block;
  gap: 64px;

}

.hero-section__stat-value {
  font-style: normal;
  font-weight: 400;
  font-size: 52px;
  line-height: 62px;
  letter-spacing: 0.5px;
  text-shadow: 0px 4px 13px #FFFFFF66;
  margin-bottom: 10px;
  font-family: "Bakbak One", "Georgia", sans-serif;
}

.hero-section__stat-label {
  color: #EFF5FAD1;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
}

.hero-section__button {
  border: 2px;
  padding-block: 10px;
  padding-inline: 24px;
  gap: 8px;
}

.hero-section__button--primary {
  width: 190px;
  height: 48px;
  background-color: #0265DC;
  border: none;
  color: #F5F8FB;
  font-style: normal;
  font-size: 18px;
  line-height: 28px;
}

.hero-section__button--secondary {
  width: 172px;
  height: 48px;
  background-color: transparent;
  border: 2px solid; color: #D0D7FB2B; opacity: 17;
  font-style: normal;
  font-size: 18px;
  line-height: 28px;
}

.hero-section__button--text{
  color: #F5F8FB;
  }

/* CATALOG SECTION */

.catalog-section {
  width: 1728px;
  height: 696px;
  padding: 64px;
  gap: 40px;
}

.section-title--catalog { /* i had to make a modifier because this section title is smaller */
  color: #F8F7FF;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0px;
  font-family: "Bakbak One", "Georgia", sans-serif;
  align-items: left;
  margin-top: 100px;
}

.catalog-header__divider {
  width: 1167px;
  height: 2px;
  border-radius: 2px;
  background-color: #D0D7FB2B; 
}

.section-title {
  color: #F8F7FF;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: -0.5px;
  text-align: center;
  font-family: "Bakbak One", "Georgia", sans-serif;
}


.catalog__button--all {
  background-color: transparent;
  height: 48px;
  border: 2px solid; color: #D0D7FB2B; opacity: 17;
  padding-block: 10px;
  padding-inline: 24px;
  margin-right: 24px;
  box-sizing: border-box;
  gap: 8px;
}

.catalog__button--text {
  color: #F5F8FB;
  width: 60px;
  height: 28px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: center;
}

.catalog__button--prev {
  background-color: transparent;
  width: 48px;
  height: 48px;
  border: 2px solid; color: #D0D7FB2B; opacity: 17;
  padding-block: 20px;
  padding-inline: 24px;
  gap: 8px;
}

.catalog__button--prev-text {
  color: #F5F8FB;
  width: 8px;
  height: 14px;
  top: 5px;
  left: 8px;
}

.catalog__button--next {
  background-color: #0265DC;
  width: 48px;
  height: 48px;
  padding-block: 10px;
  padding-inline: 24px;
  gap: 8px;
  color: #F5F8FB;
}

.catalog__button--next-text {
  color: #0D0D15;
  width: 8px;
  height: 14px;
  top: 5px;
  left: 8px;
}

.product-list__item {
  background-color: #1D1C28;
  display: flex;
  width: 300.8px;
  height: 480px;
  padding: 24px;
  gap: 24px;
  display: inline-block;
  margin-block: 24px;
  margin-inline: 24px;
}

.product-card__name {
  color: #EFF5FAD1; opacity: 82%;
  width: 240px;
  height: 28px;
  color: #F8F7FF;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
}

.product-card__price {
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: -0.5px;
  font-family: "Bakbak One", "Georgia", sans-serif;
}

.product-label {
  background-color: #F5F8FB;
  width: 51px;
  height: 36px;
  padding-block: 8px;
  padding-inline: 10px;
  gap: 10px;
  color: #0265DC;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  text-align: center;
}

.product-label--updated {
  background-color:#EA3829;
  width: 78px;
  height: 36px;
  padding-block: 8px;
  padding-inline: 10px;
  gap: 10px;
  font-weight: 600;
  line-height: 20px;
  text-align: center;
}

.product-label__text--updated {
  width: 58px;
  height: 20px;
  font-style: normal;;
  line-height: 20px;
  text-align: right;
}

/* BLOG SECTION */

.blog-section {
  width: 1728px;
  height: 2136px;
  padding: 64px;
  gap: 40px;
  margin-top: 600px;
}

.blog-card {
  background-color: #1D1C28;
  display: inline-block;
}

.blog-card--large {
  width: 784px;
  height: 900px;
  min-width: 512px;
  padding: 24px;
  gap: 24px;
  margin-block: 10px;
  margin-inline: 10px;
}

.blog-card--small {
  width: 784px;
  height: 434px;
  padding: 24px;
  gap: 24px;
  margin-block: 10px;
  margin-inline: 10px;
}

.blog-card__label {
  background-color: #F5F8FB;
  width: 46px;
  height: 36px;
  padding-inline: 10px;
  padding-top: 8px;
  padding-bottom: 10px;
}

.blog-card__text-label {
  color: #0265DC;
  font-style: normal;
  line-height: 20px;
  text-align: right;
}

.blog-card__author {
  color: #EFF5FAD1; opacity: 82%;
  font-style: normal;
  line-height: 20px;
  letter-spacing: 0px;
}

.blog-card__date {
  color: #EFF5FAD1; opacity: 82%;
  font-style: normal;
  line-height: 20px;
}

.blog-card__title {
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0px;
  font-family: "Bakbak One", "Georgia", sans-serif;
}

.blog-card__description {
  color: #EFF5FAD1; opacity: 82%;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
}

.blog-link { /* read more button of blog cards */
  width: 161px;
  height: 40px;
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  color: #F5F8FB;
  border: 2px solid #D0D7FB2B;
  padding-block: 8px;
  padding-inline: 20px;
  gap: 8px;
}

.cta-more__link { /* read more button of the whole section */
  width: 101px;
  height: 28px;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  color: #F5F8FB;
  border: 2px solid #D0D7FB2B;
  padding-block: 10px;
  padding-inline: 24px;
  gap: 8px;
  line-height: 28px;
  gap: 8px;
}

/* ABOUT SECTION */

.about {
  width: 1728px;
  height: 610.4px;
  padding: 64px;
  gap: 40px;
  margin-top: 300px;
}

.about-list {
  counter-reset: about-counter; 
  list-style: none; 
  padding: 0;
}

.about-list__item {
  position: relative;
  counter-increment: about-counter; 
  padding-left: 50px; 
}

.about-list__item::before {
  content: "0" counter(about-counter);
  width: 69.81;
  height: 50.32px;
  font-size: 70px;
  font-weight: bold;
  color: #0265DC; opacity: 50%;
  color: transparent; 
  border: 2px;
  -webkit-text-stroke: 2px #0265DC; 
  position: absolute;
}

.about__description {
  color: #EFF5FAD1; opacity: 82%;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
}

.about-list__item {
  background-color: #1A1925;
  width: 376px;
  height: 234.32px;
  min-width: 328px;
  padding: 32px;
  display: inline-block;
  margin: 20px 20px;
}

.about-list__title {
  color: #F5F8FB;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  font-family: "Bakbak One", "Georgia", sans-serif;
}

.about-list__description {
  color: #EFF5FAD1; opacity: 82%;
  font-style: normal;
  font-size: 18px;
  line-height: 28px;
  text-align: left;
}

.team {
  width: 1728px;
  height: 888px;
  padding: 64px;
  gap: 40px;
  margin-top: 200px;
}

.team-member {
  background-color: #1D1C28;
  width: 293px;
  height: 316px;
  padding: 32px;
  gap: 16px;
  display: inline-block;
  margin-block: 20px;
  margin-inline: 20px;
}

.team-member__name {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  font-family: "Bakbak One", "Georgia", sans-serif;
  margin-bottom: 2px;
}

.team-member__role {
  color: #EFF5FAD1; opacity: 82%;
  font-style: normal;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
}

/* FAQs SECTION */

.faqs {
  width: 1728px;
  height: 720px;
  padding-top: 64px;
  padding-inline: 64px;
  padding-bottom: 104px;
  gap: 40px;
}

.faqs__item {
  background-color: #1D1C28;
  width: 1600px;
  padding: 24px;
  gap: 16px;
  margin-bottom: 10px;
  backdrop-filter: blur(20px)
}

.faqs__question-text {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  text-align: left;
  font-family: "Bakbak One", "Georgia", sans-serif;
}

.faqs__answer {
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
} 

/* FOOTER */

.footer {
  background-color: #1A1925;
  width: 1728px;
  height: 388px;
  padding: 64px 64px 32px 64px;
  gap: 64px;
}

.footer__description {
  font-style: normal;
  line-height: 20px;
  text-align: left;
}

.footer-nav {
  display: inline-block;
}


.footer-nav__title {
  font-weight: 500;
  line-height: 28px;
  font-size: 20px;
  text-align: left;
}

.footer-nav__list {
  list-style: none; 
  padding: 0; 
  margin: 0;
}

.footer-nav__list-item {
  width: 152px;
  height: 24px;
  gap: 4px;
}

.footer-nav__link {
  color: #F5F8FB;
  text-decoration: none;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
}

.copyright__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: left;
  font-family: "Poppins", "Arial", sans-serif;
  }

  /********** HOMEPAGE ENDS HERE ************/

  /********** BLOG-ARTICLE STARTS HERE ************/

.hero-section {
  position: static;
  width: 1728px;
  height: 376px;
}

.hero-section__blog-title {
  font-style: normal;
  font-weight: 400;
  font-size: 52px;
  line-height: 62px;
  letter-spacing: -0.5px;
  text-align: center;
  font-family: "Bakbak One", "Georgia", sans-serif;
}

.hero-section__list-item {
  display: inline-block;
  margin: 20px;
}

.hero-section__link {
  color: #F5F8FB;
  text-decoration: none;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  text-align: center;
}

.hero-section__word--blog-article { /* highlighted word */
  color: #E7EEF7A8; opacity: 66%;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: center;
}

.blog-article__caption {
  color: #F8F7FF;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
}

.blog-article__title {
  color: #F8F7FF;
  font-weight: 400;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: -0.5px;
  text-align: left;
  font-family: "Bakbak One", "Georgia", sans-serif;
}

.blog-article__label {
  background-color: #0265DC;
  width: 122px;
  height: 48px;
  padding-block: 10px;
  padding-inline: 24px;
  gap: 8px;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: center;
}

.blog-article__author {
  color: #EFF5FAD1; opacity: 82%;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}

.blog-article__date {
  color: #EFF5FAD1; opacity: 82%;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}

.blog-article__text {
  color: #F8F7FF;
  font-style: normal;
  font-size: 18px;
  line-height: 28px;
}

.blog-article__word-bg { /* highlighted word */
  width: 73px;
  height: 28px;
  margin: 0px 0px;
  background-color: #0265dc;
  color: #F8F7FF;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
}

.blog-article__word { /* highlighted word */
  color: #78bbfa;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
}

.blog-article__bullet-list {
  width: 1024px;
  height: 140px;
  gap: 32px;
}

.blog-article__bullet-item {
  color: #F8F7FF;
  font-style: normal;
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 20px;
}

.blog-article__item {
  color: #F8F7FF;
  font-style: normal;
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 8px;
}

.blog-article__quote-wrapper {
  background-color: #002754;
  padding: 16px;
  gap: 8px;
  border-radius: 16px;
}

.blog-article__quote-text {
  color: #F8F7FF;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 36px;
  font-family: "Bakbak One", "Georgia", sans-serif;
}

.blog-article__quote-value {
  color: #EFF5FAD1; opacity: 82%;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}

.blog-article__quote-author {
  color: #F8F7FF;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}

.blog-article__gallery-caption {
  color: #F8F7FF;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
}

.subarticle-title {
  color: #F8F7FF;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 38px;
  font-family: "Bakbak One", "Georgia", sans-serif;
}

.subarticle__text {
  color: #F8F7FF;
  font-size: 18px;
  line-height: 28px;
}

.subarticle__tags-title {
  color: #F8F7FF;
  font-size: 16px;
  line-height: 24px;
}

.tag-list__item { /* this class also applies to side section tags */
  height: 32px;
  padding-block: 6px;
  padding-inline: 12px;
  margin-block: 5px;
  margin-inline: 5px;
  box-sizing: border-box;
  display: inline-block;
  border: 2px solid #D0D7FB2B;
  gap: 8px;
}

.tag-list__link { /* this class also applies to side section tags */
  color: #F8F7FF;
  text-decoration: none;
  font-weight: 600;
  line-height: 20px;
  align-items: center;;
}

.subarticle__share-title {
  color: #F8F7FF;
  font-size: 16px;
  line-height: 24px;
}

.subarticle__socials-item {
  width: 50px;
  height: 32px;
  padding-block: 6px;
  padding-inline: 12px;
  margin-block: 5px;
  margin-inline: 5px;
  box-sizing: border-box;
  display: inline-block;
  border: 2px solid #D0D7FB2B;
  gap: 10px;
}

.subarticle__socials-link {
  color: #F8F7FF;
  font-weight: 600;
  line-height: 20px;
  align-items: center;
}

.aside__block {
  background-color:#BFC5EE1F;
  width: 328px;
  height: 384px;
  padding: 16px;
  gap: 16px;
  margin-block: 21px;
  border: 1px;
}

.aside__block-title {
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  font-family: "Bakbak One", "Georgia", sans-serif;
}

.aside__block--lower {
  width: 328px;
  height: 184px;
  padding: 24px;
  gap: 16px;
}

.aside__block-list {
  width: 280px;
  height: 272px;
  gap: 8px;
  list-style: none; 
}

.aside__block-item {
  width: 280px;
  height: 32px;
  min-width: 200px;
  padding-block: 6px;
  padding-inline: 12px;
}

.aside__block-link {
  color: #F5F8FB;
  text-decoration: none;
  font-weight: 600;;
  line-height: 20px;
  margin-bottom: 20px;
}

.tag-list--aside {
  width: 280px;
  height: 72px;
  gap: 8px;
}

.social-media__list-item {
  display: inline-block;
}

/********** BLOG-ARTICLE ENDS HERE ************/
