@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.blog-section {
  overflow-x: auto;

  @include mobile {
    padding-block: 32px;
  }

  @include tablet {
    padding-block: 0 $padding-4xl;
  }

  @include laptop {
    padding-block: $padding-4xl;
  }
}

.blog-section__grid {
  display: flex;
  flex-wrap: nowrap;
  gap: 32px;
  overflow-x: auto;
  padding-bottom: $padding-lg;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;

  @include tablet {
    display: grid;
    grid-template-columns: repeat(2, 300px);
    grid-template-rows: repeat(3, 450px);
    gap: 32px;
  }

  @include laptop {
    display: grid;
    grid-template-columns: 1fr 96px 1fr;
    grid-template-rows: repeat(4, 450px);
  }

  @include desktop {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 450px);
    gap: 32px;
  }
}

.blog-card {
  padding: $padding-2xl;
  background-color: $color-background-block-dark;
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 0 0 293px;
  scroll-snap-align: start;

  @include tablet {
    width: 100%;
    scroll-snap-align: unset;
    grid-row-end: unset;
    grid-column-end: unset;

    &:first-child,
    &:nth-child(5) {
      grid-row-end: unset;
    }
  }

  @include laptop {
    flex: unset;
    width: 100%;
    &:not(:first-child, :nth-child(5)) {
      grid-column-end: span 2;
    }
  }

  @include desktop {
    flex: unset;
    width: 100%;
    &:first-child,
    &:nth-child(5) {
      grid-row-end: span 2;
    }
  }

  &__picture {
    overflow: hidden;
    max-height: 682px;

    @include desktop {
      flex-grow: 1;
    }
  }

  &__picture--small {
    max-height: 198px;

    @include tablet {
      max-height: unset;
    }
  }

  &__img {
    object-fit: cover;
    height: 100%;
  }

  &__label {
    background-color: $color-text-base;
    padding-inline: $padding-sm;
    padding-block: $padding-xs;
    display: inline-block;
    position: absolute;
    top: 40px;
    right: 40px;
    z-index: 1;
  }

  &__text-label {
    color: $color-primary;
    line-height: $line-height-sm;
    text-align: right;
  }

  &__meta {
    margin-block-start: 24px;
  }

  &__author,
  &__date {
    color: $color-text-secondary;
    opacity: 0.82;
    line-height: $line-height-sm;
    letter-spacing: 0;
  }

  &__title {
    font-size: $font-size-2xl;
    line-height: $line-height-xl;
    font-family: $font-headings;
    margin-block: 16px 0;

    @include tablet {
      font-size: $font-size-3xl;
      line-height: $line-height-2xl;
    }

    @include laptop {
      font-size: $font-size-4xl;
      line-height: $line-height-4xl;
    }
  }

  &__description {
    color: $color-text-secondary;
    opacity: 0.82;
    font-size: $font-size-md;
    line-height: $line-height-md;
    margin-block: 0 16px;
  }
}

.blog-card__picture--small.blog-card__picture--custom .blog-card__img {
  object-position: center 20%;
}

.blog-link {
  font-size: $font-size-md;
  height: 40px;
  padding-block: $padding-2xs;
  padding-inline: $padding-xl;
}
