@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.blog-section__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 450px);
  gap: 32px;
}

.blog-card {
  padding: $padding-2xl;
  background-color: $color-background-block-dark;
  position: relative;
  display: flex;
  flex-direction: column;

  &:first-child,
  &:nth-child(5) {
    grid-row-end: span 2;
  }

  &__picture {
    flex-grow: 1;
    overflow: hidden;
    max-height: 682px;
  }

  &__picture--small {
    max-height: 198px;
  }

  &__img {
    object-fit: cover;
    height: 100%;
  }

  &__label {
    background-color: $color-text-base;
    padding-inline: $padding-sm;
    padding-block: $padding-xs;
    display: inline-block;
    position: absolute;
    top: 40px;
    right: 40px;
    z-index: 1;
  }

  &__text-label {
    color: $color-primary;
    line-height: $line-height-sm;
    text-align: right;
  }

  &__meta {
    margin-block-start: 24px;
  }

  &__author,
  &__date {
    color: $color-text-secondary;
    opacity: 0.82;
    line-height: $line-height-sm;
    letter-spacing: 0;
  }

  &__title {
    font-size: $font-size-4xl;
    line-height: $line-height-4xl;
    font-family: $font-headings;
    margin-block: 16px 0;
  }

  &__description {
    color: $color-text-secondary;
    opacity: 0.82;
    font-size: $font-size-md;
    line-height: $line-height-md;
    margin-block: 0 16px;
  }
}

.blog-card__picture--small.blog-card__picture--custom .blog-card__img {
  object-position: center 20%;
}

.blog-link {
  font-size: $font-size-md;
  height: 40px;
  padding-block: $padding-2xs;
  padding-inline: $padding-xl;
}
