@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.option__value {
  font-weight: $font-weight-secondary;
  font-size: $font-size-lg;
  line-height: $line-height-lg;
}

.option-dropdown {
  @include button-base;
  @include button-focus;
  @include button-secondary;
  height: 48px;
  padding-block: $padding-sm;
  padding-inline: $padding-2xl;

  &:disabled {
    background-color: $color-disabled;
  }
}
