@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.cta-more {
  margin-top: $margin-6xl;
  text-align: center;
}

.button--cta {
  width: 100%;

  @include laptop {
    width: auto;
  }
}
