@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.cta-more {
  margin-top: 40px;
  text-align: center;

  &__link {
    text-decoration: none;
    color: $color-text-base;
    padding-block: $padding-sm;
    padding-inline: $padding-2xl;
  }
}
