.button {
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    border: 2px solid transparent;
  }
  
  .button:focus {
    border-color: #3892F3;
  }
  
  .header__button {
    padding-block: 10px;
    padding-inline: 24px;
  }
  
  .header-button__text {
    color: #f5f8fb;
  }
  
  .button--secondary {
    background-color: transparent;
    border: 2px solid #D0D7FB2B;
  }
  
  .button--primary {
    background-color: #0265DC;
    border-color: #0265DC;
  }
  
  .button--primary:hover {
    background-color: #3892F3;
  }
  
  .button--primary:active {
    background-color: #0054B6;
  }
  
  .button--primary:focus {
    background-color: #0265DC;
  }
  
  .button--secondary:hover {
    background-color: #BFC5EE1F;
    border: 2px solid #bfc5ee1f;
  }
  
  .button--secondary:active {
    background-color: #bfc5ee1f;
    border: 2px solid #bfc5ee1f;
  }
  
  .button--secondary:focus {
    background-color: #bfc5ee1f;
  }