@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.hero-section {
  &__list {
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 8px;
    flex-wrap: wrap;
  }

  &__list-item {
    padding-block: $padding-2xs;
    display: flex;
    align-items: center;
    gap: 8px;

    &::after {
      content: "";
      display: inline-block;
      width: 2px;
      height: 24px;
      border-radius: 1px;
      background-color: $color-divider;
    }

    &:last-child::after {
      content: none;
    }
  }

  &__list-item--highlighted {
    /* highlighted word */
    color: $color-highlighted-word;
    opacity: 0.66;
    font-weight: $font-weight-secondary;
    line-height: $line-height-sm;
    flex-basis: 100%;
    justify-content: center;

    @include tablet {
      flex-basis: auto;
      justify-content: flex-start;
    }
  }

  &__link {
    @include link-style(false);

    color: $color-text-base;
    line-height: $line-height-sm;
    text-align: center;
  }
}
