@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.hero-section__button {
  padding-block: $padding-sm;
  padding-inline: $padding-2xl;
  margin-top: 15px;
  @include button-base;

  &--text {
    color: $color-text-base;
  }
}
