@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.main-nav-list__list-link {
  @include link-style(false);
  color: $color-text-base;
  font-size: $font-size-md;
  line-height: $line-height-md;
  display: inline-block;
  padding: $padding-xs $padding-xl;

  &--active {
    border-bottom: 2px solid #0265dc;
  }
}

.main-nav-list {
  display: flex;
  justify-content: center;
}
