@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.main-nav {
  width: 100%;

  @include laptopMax {
    margin-block-start: $margin-5xl;
  }

  &-list {
    display: flex;
    flex-wrap: nowrap;
    flex-shrink: 0;
    white-space: nowrap;
    justify-content: center;
    margin: $margin-0;
    gap: $gap-xs;

    @include laptopMax {
      flex-direction: column;
    }

    &__list-link {
      @include link-style(false);
      display: inline-block;
      color: $color-text-base;
      font-size: $font-size-md;
      line-height: $line-height-md;
      padding: $padding-xs $padding-xl;
      &--active {
        border-bottom: 2px solid $color-primary;
      }
    }
  }
}
