@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.main-nav-list {
  display: flex;
  flex-wrap: nowrap;
  flex-shrink: 0;
  white-space: nowrap;
  justify-content: center;
  margin: 0;

  &__item {
    display: inline-block;
    gap: 8px;
  }

  &__list-link {
    @include link-style(false);
    color: $color-text-base;
    font-size: $font-size-md;
    line-height: $line-height-md;
    padding: $padding-xs $padding-xl;

    &--active {
      border-bottom: 2px solid $color-primary;
    }
  }
}

@include tablet {
  .main-nav-list {
    display: none;
  }
}

@include mobile {
  .main-nav-list {
    display: none;
  }
}
