@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.product-wrapper {
  display: flex;
  flex-wrap: nowrap;
  gap: 16px;
  overflow-x: auto;
  padding-bottom: $padding-lg;
  max-width: 100vw;

  @include tablet {
    gap: 24px;
  }

  @include desktop {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    align-items: center;
    margin-block: 40px 0;
    overflow: visible;
  }
}

.product-list__item {
  background-color: $color-background-block-dark;
  padding: $padding-lg;
  position: relative;
  flex: 0 0 328px;
  scroll-snap-align: start;

  @include tablet {
    flex: 0 0 303px;
    padding: $padding-2xl;
  }

  @include laptop {
    flex: unset;
  }
}

.button--quarterly {
  line-height: $line-height-lg;
}

.product-card {
  position: relative;

  &__img-wrapper {
    margin-bottom: 24px;
    position: relative;
  }

  &__img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  &__name {
    color: $color-text-secondary;
    opacity: 0.82;
    font-weight: $font-weight-tertiary;
    font-size: $font-size-xl;
    line-height: $line-height-lg;
    margin-block: 0;
  }

  &__price {
    font-family: $font-headings;
    font-size: $font-size-3xl;
    line-height: $line-height-2xl;
    margin-bottom: 8px;

    @include tablet {
      font-size: $font-size-4xl;
      line-height: $line-height-4xl;
      letter-spacing: -0.5px;
      margin-top: 8px;
    }
  }
}

.product-list__buttons {
  display: none;
  flex-direction: column;
  position: absolute;
  width: calc(100% - 48px);
  gap: 24px;
  top: 50%;
  transform: translateY(-50%);
  margin-inline: 0;
}

@include laptop {
  .product-list__item:hover .product-list__buttons {
    display: flex;
  }

  .product-list__item:hover .product-card {
    opacity: 0.3;
  }
}

.product-label {
  background-color: $color-text-base;
  padding-block: $padding-xs;
  padding-inline: $padding-sm;
  color: $color-primary;
  font-weight: $font-weight-secondary;
  line-height: $line-height-sm;
  text-align: center;
  display: inline-block;
  position: absolute;
  top: 16px;
  right: 16px;

  &--updated {
    background-color: $color-updated-label;
    color: $color-text-base;
  }
}
