@use '../abstracts/variables' as *;

.product-list__item {
    background-color: $color-background-block-dark;
    padding: $padding-2xl;
    display: inline-block;
  }
  
  .product-card__img {
    object-fit: cover;
  }
  
  .product-card__name {
    color: #EFF5FAD1; 
    opacity: 0.82;
    font-weight: 500;
    font-size: $font-size-xl;
    line-height: $line-height-lg;
    margin-block: 0;
  }
  
  .product-card__price {
    font-size: $font-size-4xl;
    line-height: $line-height-4xl;
    letter-spacing: -0.5px;
    font-family: $font-headings;
    margin-block: 0;
  }
  
  .product-label {
    background-color: #F5F8FB;
    padding-block: $padding-xs;
    padding-inline: $padding-sm;
    color: #0265DC;
    font-weight: $font-weight-secondary;
    line-height: $line-height-sm;
    text-align: center;
    display: inline-block
  }
  
  .product-label--updated {
    background-color:#EA3829;
    color: #F5F8FB;
    padding-block: $padding-xs;
    padding-inline: $padding-sm;
    font-weight: $font-weight-secondary;
    line-height: $line-height-sm;
    text-align: center;
  }