@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.subarticle {

  &__socials-list {
    display: flex;
    flex-wrap: nowrap;
  }

  &__socials-item {
    padding: $padding-xs;
    margin-block: 5px;
    margin-inline: 5px;
    border: 2px solid $color-secondary-button-border;
    height: 32px;
    display: inline-flex;
    align-items: center;
  }

  &__socials-link {
    color: $color-text-tertiary;
    line-height: $line-height-sm;
    align-items: center;

    @include link-style(false);
  }
}

.social-media-list {
  margin: 0;
}

.social-media-list--team {
  display: inline-block;
  flex-wrap: nowrap;
}
