@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.tag-list {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 8px;
  
  &__item {
    padding-block: $padding-2xs;
    padding-inline: $padding-md;
    border: 2px solid $color-secondary-button-border;
  }

  &__link {
    @include link-style(false);

    color: $color-text-tertiary;
    line-height: $line-height-sm;
    align-items: center;
  }
}
