{% set currentPage = "Catalog" %} {% extends "layouts/base.njk" %} {% set title =
"Contact Us | BINABOX" %} {% set description = "Contact BINABOX for support, questions, or 
partnerships. Reach us via our secure form, email, or phone. The best place to get help with NFT 
rarity checking." %} {% set page = "Catalog" %} 

{% block content %}

  <!--MAIN STARTS HERE-->
  <main class="main">

    <!--HERO SECTION-->
    <section class="hero-section hero-section--contact container">
      <div class="hero-section__banner-text">
        <h1 class="hero-section__contact-title">Contact Us</h1>
        <nav class="hero-section__nav">
          <ul class="hero-section__list">
            <li class="hero-section__list-item">
              <a class="hero-section__link" href="index.html">Home</a>
            </li>
            <li class="hero-section__list-item">
              <span class="hero-section__word hero-section__word--contact">Contact Us</span>
            </li>
          </ul>
        </nav>
      </div>
    </section>

    <!--FORM HEADER-->
    <section class="form-header container">
      <ul class="form-header__list">
        <li class="form-header__item">
          <img class="form-header__item-img" src="#" alt="location-icon" loading="lazy">
          <h2 class="form-header__item-title">Location</h2>
          <p class="form-header__item-details">2163 Phillips Gap Rd</p>
        </li>
        <li class="form-header__item">
          <img class="form-header__item-img" src="#" alt="email-icon" loading="lazy">
          <h2 class="form-header__item-title">Email</h2>
          <p class="form-header__item-details">Info.avitex@gmail.com</p>
        </li>
        <li class="form-header__item">
          <img class="form-header__item-img" src="#" alt="phone-icon" loading="lazy">
          <h2 class="form-header__item-title">Phone</h2>
          <p class="form-header__item-details">+1 666 8888</p>
        </li>
      </ul>

      <!--FORM-->
      <h3 class="form-title">Get in touch</h3>
      <h4 class="form-description">Browse through the most frequently asked questions</h4>
      <form class="form" action="https://some-url.com" method="post">
        <div class="form__consent">
          <p class="form__consent-text">Use my profile information</p>
          <input class="toggle-input form__consent-toggle" type="checkbox" name="consent" value="agree" id="toggle" />
          <label class="toggle-label" for="toggle"></label>
        </div>
        <div class="form__item">
          <label class="form__label" for="name"> Name </label>
          <input class="input" type="text" name="name" id="name" placeholder="your name" required minlength="2" />
        </div>
        <div class="form__item">
          <label class="form__label" for="surname"> Last name </label>
          <input class="input" type="text" name="surname" id="surname" placeholder="your surname" required
            minlength="2" />
        </div>
        <div class="form__item">
          <label class="form__label" for="birthday"> Date of birth </label>
          <input class="input" type="date" name="birthday" id="birthday" required max="2025-04-10" />
        </div>
        <div class="form__item">
          <p>Gender</p>
          <input class="radio-input" type="radio" name="gender" value="male" id="male" required />
          <label class="form__label form__label--radio" for="male"> Male </label>
          <input class="radio-input" type="radio" name="gender" value="female" id="female" />
          <label class="form__label form__label--radio" for="female"> Female </label>
        </div>
        <div class="form__item">
          <label class="form__label" for="email"> Email </label>
          <input class="input" type="email" name="email" id="email" placeholder="your email" required />
        </div>
        <div class="form__item">
          <label class="form__label" for="tel"> Phone number </label>
          <input class="input" type="tel" name="tel" id="tel" placeholder="your phone" required minlength="9"
            pattern="[0-9]+" inputmode="numeric" />
        </div>
        <div class="form__item">
          <label class="form__label" for="message"> Message </label>
          <textarea class="input form__textarea" name="message" id="message" rows="5" required></textarea>
        </div>

        <div class="form__item form__item--checkbox">
          <input class="input-terms" type="checkbox" name="terms" value="agree" id="terms" required />
          <label class="form__label form__label--terms" for="terms">
            By clicking on the ‘Send Message’ button I agree to
            <a class="form__link" href="#"> all the terms of the security policy </a></label>
        </div>
        <button class="button button--primary" type="submit" required>Send Message</button>
      </form>
    </section>
  </main>
  {% endblock %}