<section class="about container">
  <h3 class="section-title">{{ aboutSection.sectionTitle }}</h3>
  <p class="about__description">{{ aboutSection.sectionDescription }}</p>
  <ul class="about-list">
    {% for item in aboutCard %}
    <li class="about-list__item">
      <h4 class="about-list__title">{{ item.title }}</h4>
      <p class="about-list__description">{{ item.description }}</p>
    </li>
    {% endfor %}
  </ul>
{% include "partials/cta-more.njk" %}
</section>
