<section class="aside__block">
  <details class="aside__block-details">
    <summary class="aside__block-summary">
      <div class="aside__block-summary-wrapper">
        <h3 class="aside__block-title">{{ asideEyes.title }}</h3>
        <div>
        <svg class="aside__summary-icon" width="16" height="16">
          <use href="/img/sprite.svg#{{ asideEyes.iconClosed }}"></use>
        </svg>
        <svg class="aside__summary-icon-open" width="16" height="16">
          <use href="/img/sprite.svg#{{ asideEyes.iconOpen }}"></use>
        </svg>
        </div>
      </div>
    </summary>
    <div class="aside__block-wrapper">
      {% for option in asideEyes.options %}
        <div class="aside__block-item-catalog aside-block--radio">
          <input class="visually-hidden aside-radio" type="{{ asideEyes.type }}" name="{{ asideEyes.name }}" value="{{ option.value }}" id="{{ option.id }}"/>
          <label class="aside__block-label aside__block-label--radio" for="{{ option.id }}">
            {{ option.label }}
          </label>
        </div>
      {% endfor %}
    </div>
  </details>
</section>