<section class="aside__block">
  <details class="aside__block-details">
    <summary class="aside__block-summary">
      <div class="aside__block-summary-wrapper">
        <h3 class="aside__block-title aside__block-title--catalog">{{ asideClothing.title }}</h3>
        <div>
          <svg class="aside__summary-icon" width="16" height="16">
            <use href="/img/sprite.svg#{{ asideClothing.iconClosed }}"></use>
          </svg>
          <svg class="aside__summary-icon-open" width="16" height="16">
            <use href="/img/sprite.svg#{{ asideClothing.iconOpen }}"></use>
          </svg>
        </div>
      </div>
    </summary>
    <div class="aside__block-wrapper">
      {% for option in asideClothing.options %}
        <div class="aside__block-item-catalog">
          <input class="visually-hidden aside__input aside__input--checkbox" type="{{ asideClothing.type }}" name="{{ asideClothing.name }}" value="{{ option.value }}" id="{{ option.id }}"/>
          <label class="aside__block-label aside__block-label--checkbox" for="{{ option.id }}">
            {{ option.label }}
            <svg class="aside__block-label-icon" width="8" height="6">
              <use href="/img/sprite.svg#{{ option.icon }}"></use>
            </svg>
          </label>
        </div>
      {% endfor %}
    </div>
  </details>
</section>