<article class="blog-card blog-card--large">
          <img class="blog-card__img" src="{{ blog.img }}" alt="{{ blog.alt }}"
          width="736" height="664" loading="lazy" decoding="async"/>
          <div class="blog-card__label">
            <span class="blog-card__text-label">{{ blog.label }}</span> 
          </div>
          <div class="blog-card__meta">
            <img class="blog-card__author-icon" src="{{ blog.authorIcon }}" alt="{{ blog.authorIconAlt }}" loading="lazy" decoding="async"/>
            <span class="blog-card__author">{{ blog.authorName }}</span>
            <img class="blog-card__date-icon" src="{{ blog.dateIcon }}" alt="{{ blog.dateIconAlt }}" loading="lazy" decoding="async"/>
            <time class="blog-card__date" datetime="2022-06-20">{{ blog.dateISO }}</time>
          </div>
          <h4 class="blog-card__title">{{ blog.cardTitle }}</h4>
          <p class="blog-card__description">{{ blog.cardDescription }}</p>
          <a class="blog-link" href="#">{{ blog.link }}</a>
        </article>