<div class="catalog__filter-mobile-area">
  <div class="catalog__filter-mobile">
    <span class="catalog__filter-text">{{ catalogFilter.text}}</span>
    <svg class="catalog__filter-icon" width="24" height="24">
      <use href="/img/sprite.svg#{{ catalogFilter.icon }}"></use>
    </svg>
  </div>
</div>