<section class="catalog-section container">
  <div class="catalog-header">
    <div class="catalog-header__title">
      <h3 class="section-title section-title--catalog">
        {{ catalogSection.title }}
      </h3>
    </div>
    <hr class="catalog-header__divider" />
    <div class="catalog__controls">
      {% include "partials/catalog-buttons.njk" %}
    </div>
  </div>
  <ul class="product-wrapper">
    {% for product in products %} {% set product = product %} {% include
    "partials/product-card.njk" %} {% endfor %}
  </ul>
</section>
