<div class="catalog__header-buttons">
  {% for button in catalogHeaderButtons %}
    <button class="button button__catalog">
      {{ button.label }}
      {% if button.icon %}
        <svg class="catalog-search__button-icon" width="24" height="24">
          <use href="/img/sprite.svg#{{ button.icon }}"></use>
        </svg>
      {% endif %}
    </button>
  {% endfor %}
</div>
