<form class="catalog-search" method="get">
  <input
    class="input input--catalog"
    type="search"
    name="{{ catalogSearch.name }}"
    maxlength="{{ catalogSearch.maxlength }}"
    placeholder="{{ catalogSearch.placeholder }}"
    autocomplete="{{ catalogSearch.autocomplete }}"
  />
</form>
