<button class="button-all catalog__button catalog__button--all">
            <span class="catalog__button catalog__button--text">{{ button.all }}</span>
          </button>
          <button class="button-prev catalog__button catalog__button--prev">
            <span class="catalog__button catalog__button--prev-text">{{ button.prev }}</span>
          </button>
          <button class="button-next catalog__button catalog__button--next">
            <span class="catalog__button catalog__button--next-text">{{ button.next }}</span>
          </button>