<button class="button button--secondary catalog__button">
  {{ catalogButtons.all }}
</button>
<div class="catalog__pagination">
  <button class="button button--secondary catalog__button--prev">
    {{ catalogButtons.prev }}
  </button>
  <button class="button button--primary catalog__button--next">
    {{ catalogButtons.next }}
  </button>
</div>
