<div class="catalog__header-buttons">
  <button class="button button__catalog button--secondary">NFT</button>
  <button class="button button__catalog button--secondary">ICO</button>
  <button class="button button__catalog button--secondary">Crypto</button>
  <button class="button button__catalog button--tertiary">Clear all</button>
</div>
