<select class="option-dropdown" name="filter">
  <option class="option__value" value="{{ dropdownFilter.placeholderValue }}">
    {{ dropdownFilter.placeholder }}
    <svg class="option__value-icon" width="24" height="24" aria-label="{{ dropdownFilter.iconAlt }}">
      <use href="/img/sprite.svg#{{ dropdownFilter.icon }}"></use>
    </svg>
  </option>
  {% for option in dropdownFilter.options %}
    <option class="option__item" value="{{ option.value }}">
      {{ option.label }}
    </option>
  {% endfor %}
</select>