<section class="faqs container">
  <h3 class="section-title">{{ faqsSection.title }}</h3>
  {% for faq in faqsItem %}
    <details class="faqs__item">
      <summary class="faqs__question">
        <h4 class="faqs__question-text">{{ faq.question }}</h4>
      </summary>
      <p class="faqs__answer">
        {{ faq.answer }}
      </p>
    </details>
  {% endfor %}
</section>