 <footer class="footer container">
      <div class="footer-upper">
        <div class="footer-logo">
          <a class="footer-logo__link" href="#" title="Binabox">
            <img class="footer-logo__img" src="#" alt="Binabox logo" loading="lazy" decoding="async"/>
          </a>
        </div>
         <p class="footer__description">We are the best way to check the rarity of NFT collection</p>
        <div class="footer__list-wrapper">
         <nav class="footer-nav">
          <h5 class="footer-nav__title">Subscribe</h5>
          <ul class="footer-nav__list">
            <li class="footer-nav__list-item" >
              <a class="footer-nav__link" href="#">Home</a>
            </li>
            <li class="footer-nav__list-item">
              <a class="footer-nav__link" href="#">Blog</a>
            </li>
            <li class="footer-nav__list-item">
              <a class="footer-nav__link" href="#">Catalog</a>
            </li>
            <li class="footer-nav__list-item">
              <a class="footer-nav__link" href="#">Contact us</a>
            </li>
          </ul>
         </nav>
        <nav class="footer-nav">
          <h5 class="footer-nav__title">Company</h5>
          <ul class="footer-nav__list">
            <li class="footer-nav__list-item">
              <a class="footer-nav__link" href="#">Terms Conditions</a>
            </li>
            <li class="footer-nav__list-item">
              <a class="footer-nav__link" href="#">Privacy Policy</a>
            </li>
            <li class="footer-nav__list-item">
              <a class="footer-nav__link" href="#">Whitepaper</a>
            </li>
            <li class="footer-nav__list-item">
              <a class="footer-nav__link" href="#">Help Center</a>
            </li>
          </ul>
        </nav>
       </div>
      </div>
      <div class="footer-lower">
        <div class="copyright">
          <p class="copyright__text">BINABOX 2022 - All rights reserved</p>
        </div>
          <ul class="social-media-list social-media-list--footer">
            <li class="social-media__list-item">
              <a class="social-media__link" href="https://www.instagram.com/" target="_blank">
                <img class="social-media__icon" src="#" alt="Instagram-logo" loading="lazy" decoding="async"/> 
              </a>
            </li>
            <li class="social-media__list-item">
              <a class="social-media__link" href="https://www.facebook.com/" target="_blank">
                <img class="social-media__icon" src="#" alt="Facebook-logo" loading="lazy" decoding="async"/>
              </a>
            </li>
            <li class="social-media__list-item">
              <a class="social-media__link" href="https://web.telegram.org/k/" target="_blank">
                <img class="social-media__icon" src="#" alt="Telegram-logo" loading="lazy" decoding="async"/>
              </a>
            </li>
            <li class="social-media__list-item">
              <a class="social-media__link" href="https://www.youtube.com/" target="_blank">
                <img class="social-media__icon" src="#" alt="YouTube-logo" loading="lazy" decoding="async"/>
              </a>
            </li>
            <li class="social-media__list-item">
              <a class="social-media__link" href="https://www.tiktok.com/" target="_blank">
                <img class="social-media__icon" src="#" alt="TikTok-logo" loading="lazy" decoding="async"/>
              </a>
            </li>
            <li class="social-media__list-item">
              <a class="social-media__link" href="https://discord.com/" target="_blank">
                <img class="social-media__icon" src="#" alt="Discord-logo" loading="lazy" decoding="async"/>
              </a>
            </li>
          </ul>
        </div>
    </footer>