<button class="button header__button-secondary button--secondary">
    <svg class="header-button__img" width="24" height="24" aria-label="{{ headerButtons.altSecondary }}">
    <use href="/img/sprite.svg#discord-icon"></use>
  </svg>
  {{ headerButtons.textSecondary }}
</button>
<button class="button header__button-primary button--primary">
      <svg class="header-button__img" width="24" height="24" aria-label="{{ headerButtons.altPrimary }}">
    <use href="/img/sprite.svg#connect-icon"></use>
  </svg>
  {{ headerButtons.textPrimary }}
</button>