<header class="header container">
  <div class="header__menu-wrapper">
  <div class="header__burger-wrapper">
    <div class="header__burger-btn">
    <img class="header__burger-img" src="{{ header.burgerImg }}" alt="{{ header.burgerAlt }}">
    </div>
    </div>
  <div class="header-logo">
    <a class="header-logo__link" href="{{ header.logolink }}">
      <img
        class="header-logo__image"
        src="{{ header.logoimg }}"
        alt="{{ header.logoalt }}"
        loading="eager"
      />
    </a>
  </div>
  </div>
  <div class="header-section">
    {% include "partials/header-search.njk" %}
    <nav class="main-nav">
      <ul class="main-nav-list">
        {% for item in header.nav %}
        <li class="main-nav-list__item">
          <a
            class="main-nav-list__list-link{% if item.text == currentPage %} main-nav-list__list-link--active{% endif %}"
            href="{{ item.link }}"
            >{{ item.text }}</a
          >
        </li>
        {% endfor %}
      </ul>
    </nav>
  </div>
  <div class="header-actions">
    {% include
    "partials/header-buttons.njk" %}
  </div>
</header>