<form class="header-search" method="get">
  <input
    class="input input--header"
    type="search"
    name="search"
    maxlength="30"
    placeholder="{{ headerSearch.headerPlaceholder }}"
    autocomplete="on"
  />
</form>
