<button class="button header__button button--secondary">
  {{ headerButtons.textSecondary }}
  <img
    class="header-button__img"
    src="{{ headerButtons.imgSecondary }}"
    alt="{{ headerButtons.altSecondary }}"
  />
</button>
<button class="button header__button button--primary">
  {{ headerButtons.textPrimary }}
  <img
    class="header-button__img"
    src="{{ headerButtons.imgPrimary }}"
    alt="{{ headerButtons.altPrimary }}"
  />
</button>
