<button class="button header__button button--secondary">
  <img
    class="header-button__img"
    src="{{ headerButtons.imgSecondary }}"
    alt="{{ headerButtons.altSecondary }}"
  />
  <span class="header-button__text">{{ headerButtons.textSecondary }}</span>
</button>
<button class="button header__button button--primary">
  <img
    class="header-button__img"
    src="{{ headerButtons.imgPrimary }}"
    alt="{{ headerButtons.altPrimary }}"
  />
  <span class="header-button__text">{{ headerButtons.textPrimary }}</span>
</button>