<div class="hero-section__buttons">
  <button class="hero-section__button hero-section__button--primary button button--primary">
    {{ heroButtons.primary }}
  </button>
  <button class="hero-section__button hero-section__button--secondary button button--secondary">
    <span class="hero-section__button--text">{{ heroButtons.secondary }}</span>
  </button>
</div>
