<section class="container hero-section hero-section--banner">
  <div class="hero-section__banner-text">
    <h1 class="hero-section__title">{{ heroForm.title }}</h1>
    <nav class="hero-section__nav">
      <ul class="hero-section__list">
        {% for listItem in heroForm.list %}
        <li class="hero-section__list-item">
          {% if listItem.link %}
          <a class="hero-section__link" href="{{ listItem.link }}"
            >{{ listItem.item }}</a
          >
          {% else %}
          <span class="hero-section__list-item hero-section__list-item--highlighted"
            >{{ listItem.item }}</span
          >
          {% endif %}
        </li>
        {% endfor %}
      </ul>
    </nav>
  </div>
</section>
