<section class="hero-section hero-section--banner container">
  <div class="hero-section__banner-text">
    <h1 class="hero-section__title">{{ heroCatalog.title }}</h1>
    <nav class="hero-section__nav">
      <ul class="hero-section__list">
        {% for item in heroCatalog.list %}
        <li class="hero-section__list-item">
          {% if item.link %}
          <a class="hero-section__link" href="{{ item.link }}"
            >{{ item.text }}</a
          >
          {% else %}
          <span class="hero-section__list-item hero-section__list-item--highlighted"
            >{{ item.text }}</span
          >
          {% endif %}
        </li>
        {% endfor %}
      </ul>
    </nav>
  </div>
</section>
