<div class="hero-section__buttons">
  <button class="button button--primary">
    {{ heroButtons.primary }}
  </button>
  <button class="button button--secondary">
    <span class="hero-section__button--text">{{ heroButtons.secondary }}</span>
  </button>
</div>
