<section class="container hero-section hero-section--banner">
  <div class="hero-section__banner-text">
    <h1 class="hero-section__title">{{ heroBlog.title }}</h1>
    <nav class="hero-section__nav">
      <ul class="hero-section__list">
        {% for item in heroBlog.nav %}
        <li
          class="hero-section__list-item{% if not item.link %} hero-section__list-item--highlighted{% endif %}"
        >
          {% if item.link %}
          <a class="hero-section__link" href="{{ item.link }}"
            >{{ item.text }}</a
          >
          {% else %} {{ item.text }} {% endif %}
        </li>
        {% endfor %}
      </ul>
    </nav>
  </div>
</section>
