{% set header = mainArticleHeader %}
{% include "partials/main-article-header.njk" %}
        <p class="blog-article__text">
          {{ mainArticle.textPrefix }} <strong class="blog-article__word-bg">{{ mainArticle.highlightedWord }}</strong> {{ mainArticle.textSuffix }}
          the
          <a class="blog-article__link" href="{{ mainArticle.highlightedWordLink }}"><strong class="blog-article__word">{{ mainArticle.highlightedWordNew }}</strong></a>
          {{ mainArticle.textAfterSuffix }}
        </p>
        <ul class="blog-article__bullet-list">
          <li class="blog-article__bullet-item">
            {{ mainArticle.firstItem }}
          </li>
          <li class="blog-article__bullet-item">
            {{ mainArticle.secondItem }}
            <a class="blog-article__link" href="{{ mainArticle.wordLink }}"><strong class="blog-article__word">{{ mainArticle.wordText }}</strong></a>
            {{ mainArticle.secondItemSuffix }}
          </li>
        </ul>
        {% for text in mainArticle.list %}
        <ul class="blog-article__list">
          <li class="blog-article__item">{{ text.item }}</li>
        </ul>
      {% endfor %}
        {% include "partials/quote-wrapper.njk" %}
        