{% set header = mainArticleHeader %}
<figure class="blog-article__figure">
  <picture class="blog-article__picture">
    <source
      srcset="/img/{{ header.img }}-1x.avif 1x, /img/{{ header.img }}-2x.avif 2x"
      type="image/avif"
    />
    <source
      srcset="/img/{{ header.img }}-1x.webp 1x, /img/{{ header.img }}-2x.webp 2x"
      type="image/webp"
    />
    <img
      class="blog-article__img"
      src="/img/{{ header.img }}-2x.webp"
      alt="{{ header.alt }}"
      width="1024"
      height="557"
      loading="lazy"
    />
  </picture>
  <figcaption class="blog-article__caption">{{ header.caption }}</figcaption>
</figure>
<h2 class="blog-article__title">{{ header.title }}</h2>
<div class="blog-article__label">{{ header.label }}</div>
<div class="blog-article__meta">
  <img
    class="blog-article__author-icon"
    src="{{ header.authorIcon }}"
    alt="{{ header.authorIconAlt }}"
    width="500"
    height="394"
    loading="lazy"
  />
  <span class="blog-article__author">{{ header.author }}</span>
  <img
    class="blog-article__date-icon"
    src="{{ header.dateIcon }}"
    alt="{{ header.dateIconAlt }}"
    loading="lazy"
  />
  <time class="blog-article__date" datetime="2022-06-20"
    >{{ header.datetime }}</time
  >
</div>
<p class="blog-article__text">
  {{ mainArticle.textPrefix }}
  <strong class="blog-article__word-bg"
    >{{ mainArticle.highlightedWord }}</strong
  >
  {{ mainArticle.textSuffix }}
  <a class="blog-article__link" href="{{ mainArticle.highlightedWordLink }}">
    <strong class="blog-article__word"
      >{{ mainArticle.highlightedWordNew }}</strong
    >
  </a>
  {{ mainArticle.textAfterSuffix }}
</p>
<ul class="blog-article__bullet-list">
  <li class="blog-article__bullet-item">{{ mainArticle.firstItem }}</li>
  <li class="blog-article__bullet-item">
    {{ mainArticle.secondItem }}
    <a class="blog-article__link" href="{{ mainArticle.wordLink }}">
      <strong class="blog-article__word">{{ mainArticle.wordText }}</strong>
    </a>
    {{ mainArticle.secondItemSuffix }}
  </li>
</ul>
<ul class="blog-article__list">
  {% for text in mainArticle.list %}
  <li class="blog-article__item">{{ text.item }}</li>
  {% endfor %}
</ul>
{% include "partials/quote-wrapper.njk" %}
<h3 class="subarticle-title">{{ subarticle.titlePrimary }}</h3>
<p class="subarticle__text">{{ subarticle.textUpper }}</p>
<p class="subarticle__text">{{ subarticle.textLower }}</p>
<h3 class="subarticle-title">{{ subarticle.titleSecondary }}</h3>
<p class="subarticle__text">{{ subarticle.textSecondary }}</p>
{% include "partials/article-footer.njk" %}
