<div class="container">
  <article class="blog-article">
    <figure class="blog-article__figure">
      <picture class="blog-article__picture">
        <source srcset="/img/{{ header.img }}-1x.avif 1x, /img/{{ header.img }}-2x.avif 2x" type="image/avif">
        <source srcset="/img/{{ header.img }}-1x.webp 1x, /img/{{ header.img }}-2x.webp 2x" type="image/webp">
        <img class="blog-article__img" src="/img/{{ header.img }}-2x.webp" alt="{{ header.alt }}" width="1024" height="557" loading="lazy"/>
      </picture>
      <figcaption class="blog-article__caption">{{ header.caption }}</figcaption>
    </figure>
    <h2 class="blog-article__title">{{ header.title }}</h2>
    <div class="blog-article__label">{{ header.label }}</div>
    <div class="blog-article__meta">
      <img class="blog-article__author-icon" src="{{ header.authorIcon }}" alt="{{ header.authorIconAlt }}" width="500" height="393.94" loading="lazy"/>
      <span class="blog-article__author">{{ header.author }}</span>
      <img class="blog-article__date-icon" src="{{ header.dateIcon }}" alt="{{ header.dateIconAlt }}"  loading="lazy"/>
      <time class="blog-article__date" datetime="2022-06-20">{{ header.datetime }}</time>
    </div>