<section class="blog-section container">
  <h3 class="section-title">{{ blogSection.title }}</h3>
  <div class="blog-section__grid">
    {% include "partials/blog-card.njk" %}
  </div>
  {% include "partials/cta-more.njk" %}
</section>
