<li class="product-list__item">
            <article class="product-card"> 
              <div class="product-card__img-wrapper"> 
                <img class="product-card__img" src="{{ product.img }}" alt="{{ product.alt }}"
                width="252.8" height="324"
                loading="lazy" decoding="async"/>
                <div class="product-label">{{ product.label }}</div>
              </div>
              <p class="product-card__price">{{ product.price }}</p>
              <h4 class="product-card__name">{{ product.name }}</h4>
            </article>
          </li>

          