<div class="blog-article__quote-wrapper">
          <figure class="blog-article__quote">
            <blockquote class="blog-article__quote-text">
              {{ quoteWrapper.text }}
            </blockquote>
          </figure>
          <div class="blog-article__quote-meta">
            <img class="blog-article__quote-icon" src="{{ quoteWrapper.icon }}" alt="{{ quoteWrapper.altIcon }}" loading="lazy" decoding="async"/>
            <span class="blog-article__quote-value">{{ quoteWrapper.value }}</span>
            <span class="blog-article__quote-author">{{ quoteWrapper.author }}</span>
          </div>
        </div>
        <div class="blog-article__gallery-wrapper">
          <figure class="blog-article__gallery">
            {% for item in quoteWrapper.imageWrapper %}
            <picture class="blog-article__picture">
              <source srcset="/img/{{ item.img }}-1x.avif 1x, /img/{{ item.img }}-2x.avif 2x" type="image/avif">
              <source srcset="/img/{{ item.img }}-1x.webp 1x, /img/{{ item.img }}-2x.webp 2x" type="image/webp">
              <img class="blog-article__gallery-img" src="/img/{{ item.img }}-2x.webp" alt="{{ item.alt }}" 
                width="500" height="393.94" loading="lazy" decoding="async"/>
            </picture>
            <figcaption class="blog-article__gallery-caption">{{ item.caption }}</figcaption>
          </figure>
           {% endfor %}
        </div>