<form class="header-search" method="get">
    <input class="header-search__bar" type="search" name="search" maxlength="30" placeholder="{{ headerSearch.headerPlaceholder }}" autocomplete="on"/>
</form>