<div class="subarticle__wrapper">
          <p class="subarticle__tags-title"><strong>{{ subarticleTags.title }}</strong></p>
          <ul class="tag-list tag-list--subarticle">
            {% for tag in subarticleTags.item %}
            <li class="tag-list__item">
              <a class="tag-list__link" href="{{ tag.link }}">{{ tag.tag }}</a>
            </li>
            {% endfor %}
          </ul>
        </div>