<div class="subarticle__wrapper">
          <p class="subarticle__share-title"><strong>{{ subarticleSocials.title }}</strong></p>
          <ul class="subarticle__socials-list">
            {% for social in subarticleSocials.socials %}
            <li class="subarticle__socials-item">
              <a class="subarticle__socials-link" href="{{ social.link }}" target="_blank">
                <img class="subarticle__socials-icon" src="{{ social.icon }}" alt="{{ social.alt }}" load="lazy" decoding="async"/>
              </a>
            </li>
            {% endfor %}
          </ul>
        </div>