@use "./variables" as *;
@use "./mixins" as *;

* {
  box-sizing: border-box;
}

body {
  background-color: $color-background;
  color: $color-text-base;
  font-family: $font-primary;
  font-weight: $font-weight-primary;
  font-size: $font-size-sm;
  overflow-x: hidden;
  margin: $margin-0;

  &.cropped {
    @include laptopMax {
      .main,
      .footer {
        display: none;
      }
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: $font-weight-primary;
}

ul {
  list-style: none;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 100%;
  margin: 0 $margin-auto;
  padding-inline: $padding-lg;

  @include tablet {
    padding-inline: $padding-2xl;
  }

  @include laptop {
    padding-inline: $padding-4xl;
  }
}
