@use "./variables" as *;

@mixin button-base {
  font-weight: $font-weight-secondary;
  font-size: $font-size-lg;
  line-height: $line-height-2md;
  text-align: center;
  border: 2px solid transparent;
  display: inline-block;
  height: 48px;
  padding-block: $padding-sm;
  padding-inline: $padding-2xl;
  text-decoration: none;
  font-family: $font-primary;
  white-space: nowrap;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

@mixin button-focus {
  &:focus {
    border-color: $color-focus-border;
  }
}

@mixin button-primary {
  background-color: $color-primary;
  border-color: $color-primary;
  color: $color-text-base;

  &:hover {
    background-color: $color-hover;
  }

  &:active {
    background-color: $color-active;
  }

  &:focus {
    background-color: $color-primary;
    border-color: $color-hover;
  }
}

@mixin button-secondary {
  background-color: $color-secondary;
  border: 2px solid $color-secondary-button-border;
  color: $color-text-base;

  &:hover,
  &:active,
  &:focus {
    background-color: $color-secondary-hover;
    border-color: $color-secondary-hover;
  }
}

@mixin link-style($has-focus: true) {
  text-decoration: none;
  font-weight: $font-weight-secondary;

  &:hover {
    color: $color-hover;
  }

  @if $has-focus {
    &:focus {
      border: 4px solid $color-focus-border;
    }
  }

  &:active {
    color: $color-active;
  }
}

@mixin desktop {
  @media screen and (width >= #{$screen-desktop}) {
    @content;
  }
}

@mixin laptopMax {
  @media screen and (width < #{$screen-laptop}) {
    @content;
  }
}

@mixin laptop {
  @media screen and (width >= #{$screen-laptop}) {
    @content;
  }
}

@mixin tablet {
  @media screen and (width >= #{$screen-tablet}) {
    @content;
  }
}

@mixin mobile {
  @media screen and (width >= #{$screen-mobile}) {
    @content;
  }
}