// Colors
$color-background: #0d0d15;
$color-background-block-dark: #1d1c28;
$color-background-block-light: #1a1925;
$color-background-block-secondary: #bfc5ee1f;
$color-styling-grey: #d4d9f242;
$color-toggle: #e5ecfb5c;
$color-text-base: #f5f8fb;
$color-text-secondary: #eff5fad1;
$color-text-tertiary: #f8f7ff;
$color-text-placeholder: #e7eef7a8;
$color-hover: #3892f3;
$color-active: #0054b6;
$color-focus-border: #3892f3;
$color-primary: #0265dc;
$color-secondary: transparent;
$color-secondary-hover: #bfc5ee1f;
$color-secondary-active: #bfc5ee1f;
$color-text-highlight: #78bbfa;
$color-secondary-button-border: #d0d7fb2b;
$color-quote: #002754;
$color-divider: #d0d7fb2b;
$color-highlighted-word: #e7eef7a8;
$color-shadow: #ffffff66;
$color-updated-label: #ea3829;
$color-white: #ffffff;
$color-disabled: #d0d7fb2b;
$color-invalid: #ea3829;
$color-active-bg: #b5deff;
$color-dropdown: #202631;

// Typography
$font-primary: "Poppins", "Arial", sans-serif;
$font-headings: "Bakbak One", "Georgia", sans-serif;
$font-weight-primary: 400;
$font-weight-secondary: 600;
$font-weight-tertiary: 500;
$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-lg: 18px;
$font-size-xl: 20px;
$font-size-2xl: 24px;
$font-size-3xl: 28px;
$font-size-4xl: 36px;
$font-size-5xl: 52px;

$line-height-xs: 16px;
$line-height-sm: 20px;
$line-height-md: 24px;
$line-height-2md: 26px;
$line-height-lg: 28px;
$line-height-xl: 32px;
$line-height-2xl: 36px;
$line-height-1xl: 16px;
$line-height-4xl: 48px;
$line-height-5xl: 62px;

$text-align-center: center;

// Padding
$padding-3xs: 4px;
$padding-2xs: 6px;
$padding-xs: 8px;
$padding-sm: 10px;
$padding-md: 12px;
$padding-lg: 16px;
$padding-xl: 20px;
$padding-1xl: 28px;
$padding-2xl: 24px;
$padding-3xl: 32px;
$padding-3xxl: 40px;
$padding-4xl: 64px;

// Screen Sizes
$screen-desktop: 1728px;
$screen-laptop: 1280px;
$screen-tablet: 678px;
$screen-mobile: 360px;