@use "../abstracts/variables" as *;

.about {
  padding: $padding-4xl;

  &__description {
    color: $color-text-secondary;
    opacity: 0.82;
    font-weight: 500;
    font-size: $font-size-xl;
    line-height: $line-height-lg;
    text-align: center;
    margin: 0;
  }
}

/** i added a modifier here because the margin is different than other sections **/
.section-title--about { 
  margin-bottom: 16px;
}

.about-list {
  counter-reset: about-counter;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
  gap: 32px;
  margin-block: 40px 0;

  &__item {
    position: relative;
    counter-increment: about-counter;
    background-color: $color-background-block-light;
    padding: $padding-3xl;

    &::before {
      content: "0" counter(about-counter);
      font-size: 70px;
      font-weight: 700;
      opacity: 0.5;
      color: transparent;
      border: 2px;
      -webkit-text-stroke: 2px $color-primary;
      position: absolute;
      top: 20px;
      left: 25px;
      z-index: 0;
    }
  }

  &__title {
    font-size: $font-size-2xl;
    line-height: $line-height-xl;
    font-family: $font-headings;
    margin-block: 30px 24px;
    position: relative;
    z-index: 1;
  }

  &__description {
    color: $color-text-secondary;
    font-size: $font-size-lg;
    line-height: $line-height-lg;
    margin-block: 0;
    position: relative;
    z-index: 1;
  }
}
