@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.aside__section--blog {
  flex-shrink: 1;
  position: sticky;
  top: 0;
  align-self: flex-start;
}

.aside__block {
  background-color: $color-background-block-dark;
  padding: $padding-2xl;
  margin-block: 0 21px;
  width: 328px;
  min-width: 220px;

  &-title {
    padding-bottom: $padding-lg;
    border-bottom: 1px solid $color-background-block-secondary;
    font-size: $font-size-2xl;
    line-height: $line-height-xl;
    font-family: $font-headings;
    margin-block: 0 24px;
  }

  &--lower {
    padding: $padding-2xl;
  }

  &-item {
    padding-block: $padding-2xs;
    padding-inline: $padding-md;
  }

  &-link {
    color: $color-text-base;
    line-height: $line-height-sm;
    margin-bottom: 20px;

    @include link-style(false);
  }
}
