@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.aside-section {
  order: -1;
  width: 100%;

  @include laptop {
    order: 0;
    flex-shrink: 1;
    position: sticky;
    top: 0;
    align-self: flex-start;
    width: 328px; 
    min-width: 220px;
    margin-bottom: 0;
  }
}

.aside__block {
  background-color: $color-background-block-dark;
  padding: $padding-2xl;
  margin-block: 0 21px;

  &-title {
    padding-bottom: $padding-lg;
    border-bottom: 1px solid $color-background-block-secondary;
    font-size: $font-size-2xl;
    line-height: $line-height-xl;
    font-family: $font-headings;
    margin-block: 0;
  }

  &--lower {
    margin-bottom: 0;
  }

  &-list {
    display: flex;
    flex-direction: column;
    gap: $gap-xs;
    margin-bottom: 0;
    margin-block-start: 16px;
  }

  &-item {
    padding-block: $padding-2xs;
    padding-inline: $padding-md;
  }

  &-link {
    color: $color-text-base;
    line-height: $line-height-sm;

    @include link-style(false);
  }
}

.tag-list--aside {
  margin-bottom: 0;
  margin-block-start: 16px;
}
