@use "../abstracts/variables" as *;

.aside__input,
.aside-radio {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.aside__block-label {
  line-height: $line-height-sm;

  &--checkbox {
    position: relative;
    padding-left: $padding-1xl;
    display: flex;
    align-items: center;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 2px;
      width: 16px;
      height: 16px;
      background-color: $color-background;
      border: 2px solid $color-styling-grey;
      border-radius: 4px;
      box-sizing: border-box;
    }

    &:hover::before {
      background-color: $color-styling-grey;
    }

    &:active::before {
      background-color: $color-active-bg;
    }

    &:disabled::before {
      background-color: $color-disabled;
    }
    &:focus::before {
      background-color: $color-background-block-light;
      border-color: $color-focus-border;
    }
  }

  &--radio {
    position: relative;
    padding-left: 28px;
    margin-bottom: 16px;
    display: flex;

    &::before {
      content: "";
      position: absolute;
      top: 2px;
      left: 4px;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background-color: $color-background;
      border: 2px solid $color-styling-grey;
      box-sizing: border-box;

    }
    &:hover::before {
      background-color: $color-background-block-dark;
    }

    &:disabled::before {
      background-color: $color-disabled;
    }

    &:invalid::before {
      border-color: $color-invalid;
    }
  }
}

.aside-radio:checked + .aside__block-label--radio::before {
  border: 5px solid $color-primary;
}

.aside__input {
  &:checked + .aside__block-label--checkbox {
    &::before {
      background-color: $color-primary;
      border-color: $color-primary;
    }

    &:hover::before {
      background-color: $color-focus-border;
      border-color: $color-focus-border;
    }

    &:active::before {
      background-color: $color-active-bg;
      border-color: $color-active-bg;
    }

    &:focus::before {
      background-color: $color-primary;
      border-color: $color-focus-border;
    }

    &:disabled::before {
      background-color: $color-disabled;
    }
  }
}

.button--primary-form {
  width: 100%;
}
