@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.catalog {
  &-section {
    padding-block: 32px;

    @include tablet {
      padding-block: 0 $padding-4xl;
    }

    @include laptop {
      padding-block: $padding-4xl;
    }
  }

  &-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-bottom: 40px;

    @include tablet {
      flex-direction: row;
      justify-content: space-between;
      gap: 32px;
    }
  }

  &-header__title {
    width: 100%;
  }

  &__controls {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__pagination {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__pagination::before {
    content: "";
    display: inline-block;
    width: 2px;
    height: 24px;
    border-radius: 2px;
    background-color: $color-divider;
  }
}

.section-title {
  font-size: $font-size-4xl;
  line-height: $line-height-4xl;
  letter-spacing: -0.5px;
  text-align: center;
  font-family: $font-headings;
  margin-block: 0 40px;

  &--catalog {
    color: $color-text-tertiary;
    font-size: $font-size-2xl;
    line-height: $line-height-xl;
    align-items: center;
    margin-block: 0;
    text-align: left;
    display: flex;
    gap: 32px;

    @include tablet {
      font-size: $font-size-3xl;
      line-height: $line-height-2xl;
    }

    &::after {
      content: "";
      height: 2px;
      background-color: $color-divider;
      flex-grow: 1;
    }
  }
}

.catalog__button {
  line-height: $line-height-lg;

  &--prev,
  &--next {
    padding-block: $padding-lg;
    height: 48px;
  }
}
