@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
@use "../components/product-card";

.catalog-section {
  padding: $padding-4xl;
  margin-bottom: 10px;
}

.section-title {
  font-size: $font-size-4xl;
  line-height: $line-height-4xl;
  letter-spacing: -0.5px;
  text-align: center;
  font-family: $font-headings;
  margin-block: 0 40px;
}

.section-title--catalog {
  color: $color-text-tertiary;
  font-size: $font-size-2xl;
  line-height: $line-height-xl;
  letter-spacing: 0;
  font-family: $font-headings;
  margin-block: 0;
  text-align: left;
}

.catalog-header__divider {
  width: 1167px;
  height: 2px;
  border-radius: 2px;
  background-color: $color-catalog-divider;
}

.catalog__button--all {
  color: $color-secondary-button-border;
  padding-block: $padding-sm;
  padding-inline: $padding-2xl;
  margin-right: 24px;

  @include button-secondary;
}

.catalog__button--text {
  color: $color-text-base;
  font-weight: $font-weight-secondary;
  font-size: $font-size-lg;
  line-height: $line-height-lg;
  letter-spacing: 0;
  text-align: center;
}

.catalog__controls-separator {
  width: 2px;
  height: 24px;
  border-radius: 2px;
  background-color: $color-catalog-divider;
}

.catalog__button--prev {
  color: $color-secondary-button-border;
  padding-block: $padding-lg;

  @include button-secondary;
}

.catalog__button--next {
  padding-block: $padding-lg;

  @include button-primary;
}

.catalog__button--prev-text {
  color: $color-text-base;
  top: 5px;
  left: 8px;

  &--next-text {
    color: $color-background;
  }
}