@use "../abstracts/variables" as *;

.catalog {
  flex: 1;
  max-width: 1024px;

  &-layout {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    gap: 32px;
    justify-content: center;
  }

  &__page-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__page-functions {
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: space-between;
    align-items: center;
  }

  &__header-buttons {
    background-color: #1d1c28;
    padding: $padding-lg;
    display: flex;
    gap: 16px;
    align-items: flex-start;
    margin-block: 32px;
  }
}

.product__wrapper-catalog {
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  gap: 32px;
  margin-bottom: 64px;

  &:nth-child(2) {
    position: relative;
  }
}

.product-card__buttons {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  gap: 24px;
  top: 100px;
  margin-inline: 40px;
}

.button__catalog {
  height: 32px;
  padding-block: $padding-2xs;
  padding-inline: $padding-md;
  font-size: $font-size-sm;
  line-height: $line-height-sm;
  align-items: center;
}

.button__product-card {
  height: 52px;
}

.section-title--catalog-page {
  margin: 0;
}
