@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.form-header {
  &__list {
    display: grid;
    padding-block: 0;
    gap: 16px;
    grid-template-rows: 1fr;

    @include tablet {
      grid-template-columns: repeat(2, 1fr);

      &:last-child {
        grid-column: span 2;
        justify-self: center;
      }
    }

    @include laptop {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 24px;
      padding-inline: $padding-4xl;
    
    }
  }

  &__item {
    border: 1px solid $color-styling-grey;
    padding-block: $padding-3xxl;
    padding-inline: $padding-3xl;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    &:last-child {
      @include tablet {
        grid-column: span 2;
        justify-self: center;
        width: 50%;
      }

      @include laptop {
        grid-column: auto;
        justify-self: auto;
        width: 328px;
      }
    }

    &-title {
      font-size: $font-size-4xl;
      line-height: $line-height-4xl;
      text-align: $text-align-center;
      font-family: $font-headings;
    }

    &-details {
      color: $color-text-secondary;
      font-size: $font-size-md;
      line-height: $line-height-md;
      margin-block: 0;
    }
  }
}
