@use '../abstracts/variables' as *;
.faqs {
    padding-top: $padding-4xl;
    padding-inline: $padding-4xl;
    padding-bottom: 104px;
  }
  
  .faqs__item {
    background-color: #1D1C28;
    padding-top: $padding-2xl;
    padding-bottom: $padding-3xl;
    padding-inline: $padding-2xl;
    margin-bottom: 10px;
    backdrop-filter: blur(20px)
  }
  
  .faqs__question {
    border-bottom: 1px solid #BFC5EE1F;
    padding-bottom: $padding-2xl;
  }
  
  .faqs__question-text {
    font-size: $font-size-2xl;
    line-height: $line-height-xl;
    font-family: $font-headings;
    margin-block: 0;
  }
  
  .faqs__answer {
    font-size: $font-size-md;
    line-height: $line-height-md;
    margin-block: 16px 0;
  }