@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.faqs {
  padding-top: $padding-3xl;
  padding-bottom: $padding-4xl;
  padding-inline: $padding-lg;

  @include tablet {
    padding-top: 0;
    padding-bottom: $padding-4xl;
    padding-inline: $padding-2xl;
  }

  @include laptop {
    padding-top: $padding-4xl;
    padding-inline: $padding-4xl;
    padding-bottom: 104px;
  }

  &__item {
    background-color: $color-background-block-dark;
    padding-top: $padding-2xl;
    padding-bottom: $padding-3xl;
    padding-inline: $padding-2xl;
    margin-bottom: 24px;
    backdrop-filter: blur(20px);
  }

  &__question {
    border-bottom: 1px solid $color-background-block-secondary;
    padding-bottom: $padding-2xl;
  }

  &__question-text {
    font-size: $font-size-2xl;
    line-height: $line-height-xl;
    font-family: $font-headings;
    margin-block: 0;
  }

  &__answer {
    font-size: $font-size-md;
    line-height: $line-height-md;
    margin-block: 16px 0;
  }
}
