@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.faqs {
  padding-block: $padding-3xl $padding-4xl;

  @include tablet {
    padding-block: 0 $padding-4xl;
  }

  @include laptop {
    padding-block: $padding-4xl;
  }

  &__item {
    background-color: $color-background-block-dark;
    padding-top: $padding-2xl;
    padding-bottom: $padding-3xl;
    padding-inline: $padding-2xl;
    margin-bottom: $margin-3xl;
    backdrop-filter: blur(20px);
  }

  &__question {
    border-bottom: 1px solid $color-background-block-secondary;
    padding-bottom: $padding-2xl;
  }

  &__question-text {
    font-size: $font-size-2xl;
    line-height: $line-height-xl;
    font-family: $font-headings;
    margin-block: $margin-0;
  }

  &__answer {
    font-size: $font-size-md;
    line-height: $line-height-md;
    margin-block: $margin-lg $margin-0;
  }
}
