@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.footer {
  background-color: $color-background-block-light;
  padding: $padding-4xl $padding-4xl $padding-3xl;
}

.footer-upper {
  justify-content: space-between;
}

.footer-lower {
  justify-content: space-between;
  border-top: 1px solid $color-background-block-secondary;
}

.footer__description {
  line-height: $line-height-sm;
}

.footer-nav__title {
  font-weight: 500;
  line-height: $line-height-lg;
  font-size: $font-size-xl;
  margin-block: 0 8px;
}

.footer-nav__link {
  color: $color-text-base;
  font-size: $font-size-xs;
  line-height: $line-height-xs;
  display: block;
  padding-block: 4px;

  @include link-style(false);
}

.footer-nav__list {
  margin: 0;
}

.copyright__text {
  line-height: $line-height-sm;
}

.social-media__list-item {
  display: inline-block;
}