@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.footer {
  background-color: $color-background-block-light;
  padding: $padding-4xl $padding-4xl $padding-3xl;

  @include mobile {
    padding-inline: $padding-lg;
    padding-block: $padding-4xl $padding-3xl;
  }

  @include tablet {
    padding-inline: $padding-2xl;
    padding-block: $padding-4xl $padding-3xl;
  }

  &-upper {
    display: flex;
    top: 64px;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 64px;

    @include mobile {
      flex-direction: column;
      gap: 36px;
    }

    @include tablet {
      flex-direction: column;
      gap: 36px;
    }
  }

  &-lower {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    border-top: 1px solid $color-background-block-secondary;
    padding-top: $padding-3xl;

    @include mobile {
      flex-direction: column;
      align-items: flex-start;
      gap: 20px;
    }
  }

  &__description {
    line-height: $line-height-sm;

    @include mobile {
      margin-bottom: 0;
    }
  }

  &-logo {
    max-width: 320px;
  }

  &__list-wrapper {
    display: flex;
    gap: 48px;
  }
}

.footer-nav {
  display: block;

  &__title {
    font-weight: $font-weight-tertiary;
    line-height: $line-height-lg;
    font-size: $font-size-xl;
    margin-block: 0 8px;
  }

  &__link {
    color: $color-text-base;
    font-size: $font-size-xs;
    line-height: $line-height-xs;
    display: block;
    padding-block: $padding-3xs;

    @include link-style(false);
  }
}

.copyright__text {
  line-height: $line-height-sm;
  white-space: nowrap;
  margin: 0;
}

.social-media__list-item {
  display: inline-block;
}

.social-media-list--footer {
  @include mobile {
    display: flex;
    justify-content: flex-start;
  }
}

