@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.form {
  max-width: 640px;
  margin: 0 auto;
  margin-bottom: 104px;

  &-title {
    font-size: $font-size-4xl;
    line-height: $line-height-4xl;
    text-align: $text-align-center;
    font-family: $font-headings;
  }

  &-description {
    color: $color-text-secondary;
    font-weight: $font-weight-tertiary;
    font-size: $font-size-xl;
    line-height: $line-height-lg;
    text-align: $text-align-center;
  }

  &__consent {
    background-color: $color-background-block-dark;
    padding: $padding-2xl;
    margin-bottom: 52px;
  }

  &__consent-text {
    line-height: $line-height-sm;
  }

  &__item {
    margin-bottom: 24px;
  }

  &__label {
    line-height: $line-height-sm;
  }
}

/* Hide checkbox/radio input */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.toggle-label {
  display: inline-block;
  width: 40px;
  height: 24px;
  background-color: $color-toggle;
  border: 1px solid $color-toggle;
  border-radius: 10px;
  position: relative;

  &::before {
    content: "";
    width: 16px;
    height: 16px;
    top: 3px;
    left: 2px;
    position: absolute;
    border-radius: 50%;
    background-color: $color-white;
  }

  &:hover {
    background-color: $color-styling-grey;
  }

  &:focus-visible {
    outline: 2px solid $color-hover;
  }

  &:active {
    background-color: $color-text-secondary;
  }

  &:disabled {
    background-color: $color-disabled;
  }
}

.toggle-input:checked + .toggle-label {
  background: $color-primary;
  border-color: $color-primary;

  &::before {
    left: 20px;
    top: 3px;
  }

  &:hover {
    background-color: $color-hover;
  }

  &:active {
    background-color: $color-hover;
  }

  &:disabled {
    background-color: $color-disabled;
  }
}

.input {
  background-color: $color-secondary;
  border: 2px solid $color-secondary-button-border;
  line-height: $line-height-sm;

  &:valid {
    border-color: $color-secondary-button-border;
  }

  &:hover {
    border-color: $color-hover;
  }

  &:focus {
    border: 3px solid $color-hover;
  }

  &:disabled {
    background-color: $color-disabled;
  }

  &:user-invalid:not(:placeholder-shown) {
    border-color: $color-invalid;
  }
}

.form__label--radio {
  padding-left: $padding-1xl;
  margin-bottom: 16px;
  display: flex;

  &::before {
    content: "";
    top: 4px;
    left: 4px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: $color-secondary;
    border: 2px solid $color-styling-grey;
    box-sizing: border-box;
  }

  &:hover::before {
    background-color: $color-background-block-dark;
  }

  &:disabled::before {
    background-color: $color-disabled;
  }

  &:invalid::before {
    border-color: $color-invalid;
  }
}

/** This appears in the default view, even though it should appear ONLY after we try to submit. Please tell me how to fix it
  .radio-input:invalid + .form__label--radio::before {
  border-color: #EA3829;
  }
  
  .radio-input:invalid + .form__label--radio:hover::before {
  background-color: #1D1C28;
  border-color: #EA3829;
  } **/

.radio-input:checked + .form__label--radio::before {
  border: 5px solid $color-primary;
}

.form__label--terms {
  position: relative;
  padding-left: 28px;

  &::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    top: 4px;
    left: 4px;
    background-color: $color-secondary;
    border: 2px solid $color-styling-grey;
    border-radius: 4px;
    box-sizing: border-box;
  }

  &:hover::before {
    background-color: $color-background-block-dark;
  }

  &:active::before {
    background-color: $color-active-bg;
  }

  &:disabled::before {
    background-color: $color-secondary-button-border;
    border-color: $color-secondary-button-border;
  }
}

.input-terms {
  &:checked + .form__label--terms::before {
    background-color: $color-primary;
  }

  &:checked + .form__label--terms:hover::before {
    top: 4px;
    left: 4px;
    background-color: $color-hover;
  }

  &:checked + .form__label--terms:focus::before {
    background-color: $color-primary;
    border-color: $color-hover;
  }
}

/** Here, the same issue as above
  .input-terms:invalid + .form__label--terms::before {
    border-color: #EA3829;
  } **/

.form__link {
  text-decoration: none;
  color: $color-text-highlight;

  &:hover {
    color: #3892F3;
  }
}
