@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.header {
  padding: $padding-3xl;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  gap: 32px;

  &-logo {
    display: flex;
    align-items: center;
  }

  &-logo__image {
    height: 40px;
    width: auto;
    gap: 32px;
  }

  &-actions {
    display: flex;
    flex-wrap: nowrap;
    flex-shrink: 1;
    min-width: 0;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
  }

  &-search {
    display: flex;
    align-items: center;
    gap: 16px;

    &::after {
      content: "";
      display: inline-block;
      width: 2px;
      height: 24px;
      border-radius: 1px;
      background-color: $color-divider;
    }
  }

    &__burger-btn {
      display: none;
    }
  }


@include tablet {
  .header {
    padding: $padding-lg;

    &__menu-wrapper {
      display: flex;
      flex-direction: row;
      gap: 16px;
      justify-content: space-between;
    }

    &__burger-wrapper {
      align-items: center;
    }

    &__burger-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 48px;
      height: 48px;
      background: transparent;
      border: 2px solid $color-secondary-button-border;
      cursor: pointer;
      position: relative;
    }

    &__burger-img {
      width: 24px; 
      height: auto;
    }

    &-logo__image {
      height: 40px;
      width: auto;
      gap: 32px;
    }

    &-search {
      display: none;
      align-items: center;
      gap: 16px;

      &::after {
        content: "";
        display: none;
      }
    }

    &__button-secondary {
      text-indent: -9999px;
      overflow: hidden;
    }
  }
}

@include mobile {
  .header {
    display: flex;
    gap: 16px;
    padding: $padding-lg;
    justify-content: space-between;

    &__menu-wrapper {
      display: flex;
      flex-direction: row;
      gap: 16px;
      justify-content: space-between;
    }

    &__burger-wrapper {
      align-items: center;
    }

    &__burger-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 48px;
      height: 48px;
      background: transparent;
      border: 2px solid $color-secondary-button-border;
      cursor: pointer;
      position: relative;
    }

    &__burger-img {
      width: 24px; 
      height: auto;
    }

    &-logo__image {
      height: 40px;
      width: auto;
      gap: 32px;
    }

    &-search {
      display: none;

      &::after {
        content: "";
        display: none;
      }
    }

    &__button-secondary {
      width: 48px;
      height: 48px;
    }

    &__button-primary {
      text-indent: -9999px;
      overflow: hidden;
    }

    &__button-secondary {
      text-indent: -9999px;
      overflow: hidden;
    }
  }
}
