@use "../abstracts/variables" as *;

.header {
  padding: $padding-3xl;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;

  &-logo {
    display: flex;
    align-items: center;
  }

  &-logo__image {
    height: 40px;
    width: auto;
    gap: 32px;
  }

  &-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
  }
}

.header-search {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    right: -9px;
    transform: translateY(-50%);
    width: 2px;
    height: 24px;
    background-color: $color-divider;
    z-index: 1;
  }
}
