@use "../components/hero-nav";

.hero-section {
    position: static;
    padding-top: 64px;
  }
  
  .hero-section--blog-article {
    background-image: url("/img/hero-section-banner-background-2x.webp");
    background-size: cover;  
    background-position: center;  
    background-repeat: no-repeat; 
  }
  
  .hero-section__blog-title {
    font-size: 52px;
    line-height: 62px;
    letter-spacing: -0.5px;
    text-align: center;
    font-family: "Bakbak One", "Georgia", sans-serif;
    margin-block: 0 20px;
  }
  
  .blog-article__figure {
    margin: 0;
  }
  
  .hero-section__word--blog-article {
    
    /* highlighted word */
    color: #E7EEF7A8; 
    opacity: 0.66;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
  }