@use "../abstracts/variables" as *;

.hero-section {
  position: static;
  padding-top: $padding-4xl;

  &--blog-article {
    background-image: url("/img/hero-section-banner-background-2x.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  &__blog-title {
    font-size: $font-size-5xl;
    line-height: $line-height-5xl;
    letter-spacing: -0.5px;
    text-align: center;
    font-family: $font-headings;
    margin-block: 0 20px;
  }

  &__figure {
    margin: 0;
  }

  &__word--blog-article {
    /* highlighted word */
    color: $color-highlighted-word;
    opacity: 0.66;
    font-weight: $font-weight-secondary;
    line-height: $line-height-sm;
    text-align: center;
  }
}
