@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.team {
  padding-block: 32px;

  @include tablet {
    padding-block: 0 $padding-4xl;
  }
  @include laptop {
    padding-block: $padding-4xl;
  }
}

.section-title--team {
  @include tablet {
    font-size: $font-size-3xl;
    line-height: $line-height-2xl;
  }
}

.team__list {
  display: flex;
  flex-wrap: nowrap;
  gap: $gap-lg;
  overflow-x: auto;
  padding-bottom: $padding-lg;
  -webkit-overflow-scrolling: touch;
  margin-inline: auto;

  @include tablet {
    gap: $gap-3xl;
    flex-wrap: nowrap;
  }

  @include laptop {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: $gap-5xl;
  }

  @include desktop {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 1600px;
  }
}

.team-member {
  background-color: $color-background-block-dark;
  padding: $padding-3xl;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  text-align: center;
  flex: 0 0 293px;

  &:last-child {
    grid-column: 2;

    @include laptop {
      grid-column: unset;
      grid-column: 2;
    }
  }

  &__details {
    margin-bottom: 16px;
  }

  &__img {
    border-radius: 50%;
  }

  &__name {
    font-size: $font-size-2xl;
    line-height: $line-height-xl;
    font-family: $font-headings;
    margin-block: 0;
  }

  &__role {
    color: $color-text-secondary;
    font-size: $font-size-lg;
    line-height: $line-height-lg;
    margin-block: 0;
  }
}
