@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.team {
  padding-block: $padding-3xl;
  padding-inline: $padding-lg;

  @include tablet { 
    padding-top: 0;
    padding-bottom: $padding-4xl;
    padding-inline: $padding-2xl;
  }

  @include laptop { 
    padding: $padding-4xl;
  }
}

.section-title--team {
  @include tablet { 
    font-size: $font-size-3xl;
    line-height: $line-height-2xl;
  }
}

.team__list {
  display: flex;
  flex-wrap: nowrap;
  gap: 16px;
  overflow-x: auto;
  padding-bottom: $padding-lg;
  -webkit-overflow-scrolling: touch;
  margin-block: 0;

  @include tablet {
    gap: 32px;
    flex-wrap: nowrap;
  }

  @include laptop {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    justify-items: center;
  }

  @include desktop {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}

.team-member {
  background-color: $color-background-block-dark;
  padding: $padding-3xl;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  text-align: center;
  flex: 0 0 240px;
  width: 293px;

  @include tablet {
    flex: 0 0 293px;
    width: 293px;
  }

  @include laptop {
    max-width: 100%;
    flex: unset;
    width: auto;
  }

  @include desktop {
    max-width: 20%;
    width: auto;
  }

  &__details {
    margin-bottom: 16px;
  }

  &__img {
    border-radius: 50%;
  }

  &__name {
    font-size: $font-size-2xl;
    line-height: $line-height-xl;
    font-family: $font-headings;
    margin-block: 0;
  }

  &__role {
    color: $color-text-secondary;
    font-size: $font-size-lg;
    line-height: $line-height-lg;
    margin-block: 0;
  }
}

@include mobile {
  .team-member:last-child {
    grid-column: 2;
  }
}
