@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.team {
  padding: $padding-4xl;

  @include tablet {
    padding-top: 0;
    padding-bottom: 64px;
    padding-inline: 24px;
  }

  @include mobile {
    padding-block: 32px;
    padding-inline: 16px;
  }
}

.section-title--team {
  @include tablet {
    font-size: 28px;
    line-height: 36px;
  }
}

.team__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;

  @include laptop {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    justify-items: center;
  }

  @include tablet {
    display: flex;
    flex-wrap: nowrap;
    gap: 32px;
    overflow-x: auto;
    padding-bottom: 16px;
    -webkit-overflow-scrolling: touch;
  }

  @include mobile {
    display: flex;
    flex-wrap: nowrap;
    gap: 16px;
    overflow-x: auto;
    padding-bottom: 16px;
    -webkit-overflow-scrolling: touch;
    margin-block: 0;

  }
}

.team-member {
  background-color: $color-background-block-dark;
  padding: $padding-3xl;
  max-width: 20%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  text-align: center;

  @include laptop {
    max-width: 100%;
  }

  @include tablet {
    flex: 0 0 293px;
    width: 293px;
  }

  @include mobile {
    flex: 0 0 240px;
    width: 293px;
  }

  &__details {
    margin-bottom: 16px;
  }

  &__img {
    border-radius: 50%;
  }

  &__name {
    font-size: $font-size-2xl;
    line-height: $line-height-xl;
    font-family: $font-headings;
    margin-block: 0;
  }

  &__role {
    color: $color-text-secondary;
    font-size: $font-size-lg;
    line-height: $line-height-lg;
    margin-block: 0;
  }
}

@include mobile {
  .team-member:last-child {
    grid-column: 2;
  }
}
